.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-container a {
  cursor: pointer;
  text-decoration: none;
  color: brown;
}
